{% extends "base.html" %}
{% block conteudo %}
<h2>Editar Vaga</h2>
<form method="POST">
  <label>Título</label><input name="titulo" value="{{ vaga.titulo }}" required>
  <label>Categoria</label><input name="categoria" value="{{ vaga.categoria }}">
  <label>Cidade</label><input name="cidade" value="{{ vaga.cidade }}">
  <label>Horário</label>
  <select name="horario">
    <option value="" {% if not vaga.horario %}selected{% endif %}>--</option>
    <option value="full-time" {% if vaga.horario=='full-time' %}selected{% endif %}>full-time</option>
    <option value="part-time" {% if vaga.horario=='part-time' %}selected{% endif %}>part-time</option>
    <option value="remoto" {% if vaga.horario=='remoto' %}selected{% endif %}>remoto</option>
  </select>
  <label>Tipo</label>
  <select name="tipo">
    <option value="" {% if not vaga.tipo %}selected{% endif %}>--</option>
    <option value="emprego" {% if vaga.tipo=='emprego' %}selected{% endif %}>emprego</option>
    <option value="estagio" {% if vaga.tipo=='estagio' %}selected{% endif %}>estagio</option>
    <option value="bolsa" {% if vaga.tipo=='bolsa' %}selected{% endif %}>bolsa</option>
  </select>
  <label>Descrição</label><textarea name="descricao" rows="5" required>{{ vaga.descricao }}</textarea>
  <button class="btn btn-primario" type="submit">Guardar</button>
</form>
{% endblock %}
